.title-bar h1 span {
  position: relative;
}

.title-bar h1 span:before {
  position: absolute;
  background-image: url("../img/red_line.png");
  width: 497px;
  height: 26px;
  content: "";
  bottom: -30px;
  right: -50px;
}
a.nav-link.nav-btn {
  background: linear-gradient(
    90deg,
    rgba(238, 51, 58, 1) 0%,
    rgb(119 24 24) 100%
  );
  border-radius: 7px;
  color: #fff !important;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary {
  background-image: linear-gradient(
    90deg,
    rgba(238, 51, 58, 1) 0%,
    rgb(119 24 24) 100%
  ) !important;
  border: unset !important;
  font-family: "Poppins", sans-serif !important;
}
.btn-secondary {
  background-color: #fff !important;
  font-family: "Poppins", sans-serif !important;
  color: rgb(119 24 24) !important;
  border: unset !important;
}

.form-section {
  padding: 40px 10px 30px 40px;
  background: #fff;
  border-radius: 20px;
  margin-top: -30px;
}

button.btn-formPanel {
  width: 80%;
  height: 60px;
  border-radius: 10px;
}
select.form-select,
input {
  height: 60px;
  background-color: #ecf0f4 !important;
  border-radius: 10px;
  border: unset !important;
}
.page-header li.dropdown.nav-item .dropdown-toggle::after {
  content: "\f107";
  font-family: "FontAwesome";
  background: none;
  border: unset;
  vertical-align: bottom;
}
.partners-section {
  background-image: url("../img/partners-img.png");
  background-size: cover;
  text-align: center;
  padding: 170px 0 50px 0;
  margin-top: -142px;
  position: relative;
  z-index: -1;
}
.btn-lease {
  font-size: 18px !important;
  font-weight: 600 !important;
  padding: 10px 30px !important;
  border-radius: 8px !important;
}
.hr-sizing {
  width: 90%;
  margin-left: 5%;
}
.long-term {
  margin-bottom: 30px;
}
.heading-discover {
  color: #181918;
}
.heading-discover span {
  color: #c71917;
}
.text-discover {
  font-size: 18px;
}
.card-discover {
  margin: 10px;
  padding: 15px !important;
  position: relative;
  border: 2px solid #e9e9e9 !important;
  border-radius: 0 !important;
}
.discover-section {
  margin: 90px 0 130px;
}
.dim-btn .btn {
  border-radius: 4px !important;
  padding: 8px 27px;
}
.car-img {
  margin-top: 70px;
}
.car-count-heading {
  color: #e3e3e3;
  font-size: 55px;
}
.car-count-img {
  background-color: #fff;
  border-radius: 8px;
  padding: 0px 5px;
}
.car-subtext h5 {
  color: #ee333a;
  font-size: 19px;
  font-weight: 800;
  padding-right: 50px;
  min-height: 50px;
}
.car-subtext p {
  font-size: 13px;
  color: #fff;
  line-height: 19px;
  font-family: "Poppins";
}
.car-subtext {
  padding: 10px 55px 10px 15px;
  margin-top: 60px;
}
.car-background {
  background-color: #262e34;
  margin-top: -130px;
  padding: 250px 0px 160px 0;
}
.car-sc:before {
  background-image: url("../img/Vector-stroke.png");
  position: absolute;
  content: "";
  width: 242px;
  height: 220px;
  z-index: 99;
  top: 50px;
  right: 60px;
  transform: scale(1.15);
}
.car-sc {
  position: relative;
}
.car-count-img img {
  width: 90px;
}
.car-img img {
  width: 100%;
}
.howitworks-section {
  padding: 80px 0px 60px;
}
.howit-count {
  background: linear-gradient(
    253deg,
    rgb(189 60 66) 0%,
    rgb(241 70 70) 100%
  ) !important;
  color: #fff;
  padding: 35px 90px 20px 30px;
  position: relative;
}
.howit-count h4 {
  font-size: 22px !important;
  font-weight: 800 !important;
}
.howit-count h4 span:before {
  width: 45px;
  height: 8px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  top: 35px;
}
.howit-count h4 span {
  position: relative;
}
.howit-count h3 {
  margin-top: 55px;
  min-height: 75px;
}
.howit-img img {
  width: 86px;
  object-fit: scale-down;
}
.img-how-it-work {
  position: relative;
}
.img-how-it-work:before {
  position: absolute;
  width: 52px;
  height: 16px;
  content: "";
  background-image: url("../img/arrow-line.png");
  right: -40px;
  top: 49%;
  z-index: 9;
}
.rmv-bf:before {
  display: none;
}
.howit-titlebar {
  margin-bottom: 80px;
}

.howit-row1 .howit-count:before {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 50px solid #d44144;
  content: "";
  position: absolute;
  bottom: -49px;
  right: 30px;
  z-index: 1;
}
.howit-row2 .howit-count:before {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 50px solid #c93e43;
  content: "";
  position: absolute;
  top: -49px;
  right: 30px;
  z-index: 1;
}
.inner-section-premium h3 {
  font-size: 68px;
  font-family: "Lexend", sans-serif !important;
  font-weight: 700;
}
.inner-section-premium p {
  font-family: "Lexend", sans-serif !important;
  font-size: 26px;
  font-weight: 300;
  line-height: 22px;
}
.inner-section-premium button {
  font-size: 16px;
  font-family: "Lexend", sans-serif !important;
  font-weight: 700;
  padding: 10px 20px;
}
.inner-section-premium {
  padding: 114px 160px;
  background-image: url("../img/premium-car.png");
  background-size: cover;
}
.section-premium {
  background-color: #f4efef;
  padding-bottom: 50px;
}
.page-footer {
  background-color: #000;
  padding: 70px 0px;
}
.footer-one-text p,
.footer-three-text p,
.footer-two-menu li {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.footer-one-text p {
  margin-top: 30px;
}
.footer-one-logo {
  text-align: center;
}
.footer-two-menu {
  list-style: none;
  padding-left: 0;
}
.footer-title span:before {
  background: #fff;
  width: 80px;
  height: 2px;
  content: "";
  position: absolute;
  bottom: -20px;
}
.footer-title span {
  position: relative;
}
.footer-title {
  font-size: 24px !important;
  font-weight: 800 !important;
  letter-spacing: 0 !important;
  margin-bottom: 45px;
}
.footer-two-menu li:before {
  content: "";
  background-color: #fff;
  width: 12px;
  height: 1px;
  position: absolute;
  left: -18px;
  top: 21px;
}
.footer-two-menu li {
  padding: 10px 0;
  position: relative;
  margin-left: 18px;
}
input.footer-field {
  width: 100%;
  border-radius: 0;
  height: 40px;
  border: 3px solid #ec333a !important;
  padding: 0px 20px;
}
.footer-submit {
  width: 100%;
  border-radius: 0;
  height: 50px;
  margin-top: 12px;
}
.footer-copyright {
  background: linear-gradient(
    90deg,
    rgba(238, 51, 58, 1) 0%,
    rgb(119 24 24) 100%
  ) !important;
  padding: 15px;
}
.footer-copyright p {
  font-size: 14px;
}
ul.social-menu li a {
  color: #fff;
  font-size: 18px;
}
ul.social-menu li {
  margin-right: 12px;
  width: 38px;
  height: 38px;
  border: 3px solid;
  text-align: center;
  line-height: 35px;
}
ul.social-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.customer-text p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
.customer-text h3 {
  font-size: 36px !important;
  font-weight: 700 !important;
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  /* line-height: 34px; */
}
.customer-text {
  position: relative;
  margin: 35px 0;
}
.customer-content .customer-text:before {
  position: absolute;
  content: "";
  left: -120px;
}
.customer-content .customer-text:nth-child(1):before {
  background-image: url("../img/customer1.png");
  width: 99px;
  height: 87px;
  top: -14px;
}
.customer-content .customer-text:nth-child(2):before {
  background-image: url("../img/customer2.png");
  width: 105px;
  height: 110px;
  top: -20px;
}
.customer-content .customer-text:nth-child(3):before {
  background-image: url("../img/customer3.png");
  width: 87px;
  height: 88px;
  top: -12px;
}
.customer-content .customer-text:nth-child(4):before {
  background-image: url("../img/customer4.png");
  width: 87px;
  height: 87px;
  top: 4px;
  left: -107px;
}
.customer-section {
  background-image: url("../img/Group-count.png");
  background-size: cover;
}
.customer-content {
  padding: 70px 760px 70px 180px;
  margin: 0 0 60px;
}
.img-glry img {
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}
.img-glry {
  transition: 0.4s ease-in-out;
  position: relative;
}
.img-glry:hover img {
  filter: brightness(0.5);
}
.img-glry:hover:before {
  background-image: url("../img/mask.png");
  width: 97%;
  height: 125px;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4s ease-in-out;
}
.gallery-section {
  padding: 50px 0;
  background-color: #f4efef;
}
.heading-city {
  line-height: 85px !important;
}
.main-city-section {
  background-color: #f4efef;
  padding: 60px 0 120px;
}
.service-content h5 {
  color: #ee333a;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 28px;
}
.service-content h3 {
  font-size: 48px !important;
  font-weight: 600;
  line-height: 54px;
  font-family: "Lexend", sans-serif !important;
  color: #0c142e;
}
.service-content p {
  color: #77797e;
  font-family: "Lexend", sans-serif !important;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
.service-content ul li {
  color: #0c142e;
  font-family: "Lexend", sans-serif !important;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  border-bottom: 2px solid #d0d7de;
  padding-bottom: 5px;
  margin-bottom: 14px;
}
.service-content ul {
  list-style: none;
  padding-left: 0;
  column-count: 2;
}
.service-content button {
  padding: 16px 27px;
  font-weight: 600;
}
.service-content {
  padding-left: 10px;
}
.dimg-box {
  margin-right: 30px;
}
.react-multi-carousel-track {
  margin-left: -140px;
}
.test-content h4 {
  color: #ff3726;
  text-transform: uppercase;
  font-weight: 300;
}
.test-content p {
  color: #77797e;
  font-family: "Lexend", sans-serif !important;
  padding-left: 130px;
}
.heading-test {
  font-size: 48px !important;
  font-weight: 600;
  line-height: 54px;
  font-family: "Lexend", sans-serif !important;
}
.testimonial-section {
  background-image: url("../img/testimonials.png");
}
.testimonials-client p {
  color: #77797e;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  font-family: "Lexend", sans-serif !important;
  padding: 0 40px;
}
.client-view p {
  font-size: 18px;
  font-family: "Lexend", sans-serif !important;
  font-weight: 600;
  color: #0c142e;
  line-height: 18px;
}
.client-view span {
  font-size: 14px;
  font-family: "Lexend", sans-serif !important;
  font-weight: 300;
  color: #77797E;
  line-height: 25px;
}
.card-client {
  padding: 0 !important;
  border: 0 !important;
  margin: 90px 15px;
}
.img-quote {
  margin-top: -40px;
  margin-bottom: 27px;
}
.client-view {
  display: flex;
  align-items: center;
  gap: 8px;
}
.testimonials-client {
  background: #f1f1f1;
  padding-bottom: 40px;
  margin-bottom: 30px;
}