.title-bar h1 span {
  position: relative;
}
.page-header {
  background: #fff;
}
.title-bar h1 span:before {
  position: absolute;
  background-image: url("../img/red_line.png");
  width: 497px;
  height: 26px;
  content: "";
  bottom: -30px;
  right: -50px;
}
a.nav-link.nav-btn {
  background: linear-gradient(
    90deg,
    rgba(238, 51, 58, 1) 0%,
    rgb(119 24 24) 100%
  );
  border-radius: 7px;
  color: #fff !important;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary {
  background-image: linear-gradient(90deg, #9d0208 0%, #d00000 100%) !important;
  border: unset !important;
  font-family: "Poppins", sans-serif !important;
}
/* .btn-primary:hover {
  background-color: #fff !important;
  color: #cb0001 !important;
  transition: 0.8s;
  box-shadow: 3px 3px 3px #ccc;
  background-image: unset !important;
} */
.btn-secondary {
  background-color: #fff !important;
  font-family: "Poppins", sans-serif !important;
  color: rgb(119 24 24) !important;
  border: unset !important;
}

.form-section {
  padding: 40px 10px 30px 40px;
  background: #fff;
  border-radius: 20px;
  margin-top: -30px;
}

button.btn-formPanel {
  width: 80%;
  height: 60px;
  border-radius: 10px;
}
select.form-select,
input {
  height: 60px;
  background-color: #ecf0f4 !important;
  border-radius: 10px;
  border: unset !important;
}
.page-header li.dropdown.nav-item .dropdown-toggle::after {
  content: "\f107";
  font-family: "FontAwesome";
  background: none;
  border: unset;
  vertical-align: bottom;
}
.partners-section {
  background-image: url("../img/partners-img.png");
  background-size: cover;
  text-align: center;
  padding: 170px 0 50px 0;
  margin-top: -142px;
  position: relative;
  z-index: -1;
}

.btn-lease {
  font-size: 18px !important;
  font-weight: 600 !important;
  padding: 10px 30px !important;
  border-radius: 8px !important;
}
.hr-sizing {
  width: 90%;
  margin-left: 5%;
}
.long-term {
  margin-bottom: 30px;
}
.heading-discover {
  color: #181918;
}
.heading-discover span {
  color: #c71917;
}
.text-discover {
  font-size: 18px;
}
.card-discover {
  margin: 10px;
  padding: 15px !important;
  position: relative;
  /* border: 2px solid #e9e9e9 !important; */
  border: 0px !important;
  border-radius: 0 !important;
}
.discover-section {
  margin: 90px 0 130px;
}
.dim-btn .btn {
  border-radius: 4px !important;
  padding: 12px 36px;
}
.form-section .form-control {
  color: #212529 !important;
  font-weight: 400 !important;
}
.card-discover {
  padding: 26px 13px !important;
}
.car-img {
  margin-top: 70px;
}
.car-count-heading {
  color: #e3e3e3;
  font-size: 55px;
}
.car-count-img {
  background-color: #fff;
  border-radius: 8px;
  padding: 0px 5px;
}
.car-count-img:hover {
  filter: brightness(0.8);
  transform: rotateY(25deg);
}
.car-count-img {
  transition: 0.8s;
}
.car-subtext h5 {
  color: #ee333a;
  font-size: 25px;
  font-weight: 800;
  padding-right: 50px;
  min-height: 68px;
}
.car-subtext p {
  font-size: 16px;
  color: #fff;
  line-height: 19px;
  font-family: "Poppins";
}
.car-subtext {
  padding: 10px 15px 10px 15px;
  margin-top: 60px;
}
.car-background {
  background-color: #262e34;
  margin-top: -130px;
  padding: 250px 0px 160px 0;
}
.car-sc:before {
  background-image: url("../img/Vector-stroke.png");
  position: absolute;
  content: "";
  width: 242px;
  height: 220px;
  z-index: 99;
  top: 59px;
  right: 43px;
  transform: scale(1.3);
}
.car-sc {
  position: relative;
}
.car-count-img img {
  width: 90px;
}
.car-img img {
  width: 100%;
}
.howitworks-section {
  padding: 80px 0px 60px;
}
.howit-count {
  background: linear-gradient(
    253deg,
    rgb(189 60 66) 0%,
    rgb(241 70 70) 100%
  ) !important;
  color: #fff;
  padding: 35px 90px 20px 30px;
  position: relative;
}
.howit-count h4 {
  font-size: 22px !important;
  font-weight: 800 !important;
}
.howit-count h4 span:before {
  width: 45px;
  height: 8px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  top: 35px;
}
.howit-count h4 span {
  position: relative;
}
.howit-count h3 {
  margin-top: 55px;
  min-height: 75px;
}
.howit-img img {
  width: 86px;
  object-fit: scale-down;
}
.img-how-it-work {
  position: relative;
}
.img-how-it-work:before {
  position: absolute;
  width: 52px;
  height: 16px;
  content: "";
  background-image: url("../img/arrow-line.png");
  right: -40px;
  top: 49%;
  z-index: 9;
}
.img-how-it-work:hover img {
  transition: 0.8s;
  filter: brightness(0.7);
}
.rmv-bf:before {
  display: none;
}
.howit-titlebar {
  margin-bottom: 80px;
}

.howit-row1 .how-col1 .howit-count:before,
.howit-row1 .how-col3 .howit-count:before {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 50px solid #d44144;
  content: "";
  position: absolute;
  bottom: -49px;
  right: 30px;
  z-index: 1;
}
.howit-row1 .how-col6 .howit-count:before,
.howit-row1 .how-col8 .howit-count:before {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 50px solid #c93e43;
  content: "";
  position: absolute;
  top: -49px;
  right: 30px;
  z-index: 1;
}
.how-col1,
.how-col2,
.how-col3,
.how-col4 {
  margin-bottom: 20px;
}
.inner-section-premium h3 {
  font-size: 68px;
  font-family: "Lexend", sans-serif !important;
  font-weight: 700;
}
.inner-section-premium p {
  font-family: "Lexend", sans-serif !important;
  font-size: 26px;
  font-weight: 300;
  line-height: 22px;
}
.inner-section-premium button {
  font-size: 16px;
  font-family: "Lexend", sans-serif !important;
  font-weight: 700;
  padding: 10px 20px;
}
.inner-section-premium {
  padding: 114px 160px;
  background-image: url("../img/premium-car.png");
  background-size: cover;
  border-radius: 13px;
}
.section-premium {
  background-color: #f4efef;
  padding-bottom: 50px;
  padding-top: 50px;
}
.page-footer {
  background-color: #000;
  padding: 70px 0px;
}
.footer-one-text p,
.footer-three-text p,
.footer-two-menu li {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.footer-one-text p {
  margin-top: 30px;
  padding-right: 60px;
}
/* .footer-one-logo {
  position: relative;
    left: -25px 
} */
.footer-two-menu {
  list-style: none;
  padding-left: 0;
}
.footer-title span:before {
  background: #fff;
  width: 80px;
  height: 2px;
  content: "";
  position: absolute;
  bottom: -20px;
}
.footer-title span {
  position: relative;
}
.footer-title {
  font-size: 24px !important;
  font-weight: 800 !important;
  letter-spacing: 0 !important;
  margin-bottom: 45px;
}
.footer-two-menu li:before {
  content: "";
  background-color: #fff;
  width: 12px;
  height: 1px;
  position: absolute;
  left: -18px;
  top: 21px;
}
.footer-two-menu li {
  padding: 10px 0;
  position: relative;
  margin-left: 18px;
}
input.footer-field {
  width: 100%;
  border-radius: 0;
  height: 40px;
  border: 3px solid #ec333a !important;
  padding: 0px 20px;
}
.footer-submit {
  width: 100%;
  border-radius: 0 !important;
  height: 50px;
  margin-top: 12px;
}
.footer-copyright {
  background: linear-gradient(
    90deg,
    rgba(238, 51, 58, 1) 0%,
    rgb(119 24 24) 100%
  ) !important;
  padding: 15px;
}
.footer-copyright p {
  font-size: 14px;
}
ul.social-menu li a {
  color: #fff;
  font-size: 18px;
}
ul.social-menu li {
  margin-right: 12px;
  width: 38px;
  height: 38px;
  border: 3px solid;
  text-align: center;
  line-height: 35px;
}
ul.social-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.customer-text p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
.customer-text h3 {
  font-size: 36px !important;
  font-weight: 700 !important;
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  /* line-height: 34px; */
}
.customer-text {
  position: relative;
  margin: 35px 0;
}
.customer-content .customer-text:before {
  position: absolute;
  content: "";
  left: -120px;
}
.customer-content .customer-text:nth-child(1):before {
  background-image: url("../img/customer1.png");
  width: 99px;
  height: 87px;
  top: -14px;
}
.customer-content .customer-text:nth-child(2):before {
  background-image: url("../img/customer2.png");
  width: 105px;
  height: 110px;
  top: -20px;
}
.customer-content .customer-text:nth-child(3):before {
  background-image: url("../img/customer3.png");
  width: 87px;
  height: 88px;
  top: -12px;
}
.customer-content .customer-text:nth-child(4):before {
  background-image: url("../img/customer4.png");
  width: 87px;
  height: 87px;
  top: 4px;
  left: -107px;
}
.customer-section {
  background-image: url("../img/Group-count.png");
  background-size: cover;
}
.customer-content {
  padding: 70px 760px 70px 180px;
  /* margin: 0 0 60px; */
}
.img-glry img {
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}
.img-glry {
  transition: 0.4s ease-in-out;
  position: relative;
}
.img-glry:hover img {
  filter: brightness(0.5);
}
.img-glry:hover:before {
  background-image: url("../img/mask.png");
  width: 97%;
  height: 125px;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4s ease-in-out;
}
.gallery-section {
  padding: 50px 0 25px;
  background-color: #f4efef;
}
.heading-city {
  line-height: 85px !important;
  margin-bottom: 40px;
}
.main-city-section {
  background-color: #f4efef;
  padding: 60px 0 60px;
}
.service-content h5 {
  color: #ee333a;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 28px;
}
.service-content h3 {
  font-size: 48px !important;
  font-weight: 600;
  line-height: 54px;
  font-family: "Lexend", sans-serif !important;
  color: #0c142e;
}
.service-content p {
  color: #77797e;
  font-family: "Lexend", sans-serif !important;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
.service-content ul li {
  color: #0c142e;
  font-family: "Lexend", sans-serif !important;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  border-bottom: 2px solid #d0d7de;
  padding-bottom: 5px;
  margin-bottom: 14px;
}
.service-content ul {
  list-style: none;
  padding-left: 0;
  column-count: 2;
}
.service-content button {
  padding: 16px 27px;
  font-weight: 600;
}
.service-content {
  padding-left: 10px;
  padding-right: 30px;
}
.servs-img img {
  transition: 0.8s;
}
.servs-img:hover img {
  filter: brightness(0.8);
  transform: rotateY(15deg);
}
.dimg-box {
  margin-right: 30px;
}
.dimg-box img {
  transition: 0.8s;
}
.dimg-box:hover img {
  transition: 0.8s;
  filter: brightness(0.7);
}
.react-multi-carousel-track {
  margin-left: -140px;
}
.test-content h4 {
  color: #ff3726;
  text-transform: uppercase;
  font-weight: 300;
}
.test-content p {
  color: #77797e;
  font-family: "Lexend", sans-serif !important;
  padding-left: 130px;
}
.heading-test {
  font-size: 48px !important;
  font-weight: 600;
  line-height: 54px;
  font-family: "Lexend", sans-serif !important;
}
.testimonial-section {
  background-image: url("../img/testimonials.png");
  background-size: cover;
  padding-top: 110px;
}
.testimonials-client p {
  color: #77797e;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  font-family: "Lexend", sans-serif !important;
  padding: 0 40px;
}
.client-view p {
  font-size: 18px;
  font-family: "Lexend", sans-serif !important;
  font-weight: 600;
  color: #0c142e;
  line-height: 18px;
}
.client-view span {
  font-size: 14px;
  font-family: "Lexend", sans-serif !important;
  font-weight: 300;
  color: #77797e;
  line-height: 25px;
}
.card-client {
  padding: 0 !important;
  border: 0 !important;
  margin: 90px 15px;
}
.img-quote {
  margin-top: -40px;
  margin-bottom: 27px;
}
.client-view {
  display: flex;
  align-items: center;
  gap: 8px;
}
.client-view img {
  transition: 0.8s;
}
.client-view:hover img {
  transform: rotateY(25deg);
  filter: brightness(0.8);
}
.testimonials-client {
  background: #f1f1f1;
  padding-bottom: 40px;
  margin-bottom: 30px;
  position: relative;
}
.testimonials-client:before {
  position: absolute;
  width: 73px;
  height: 43px;
  content: "";
  background-image: url("../img/pseudo_mask.png");
  bottom: -40px;
  right: 60px;
}

.route-content p {
  font-size: 16px;
  color: #3c3c3c;
}
.route-content h5 {
  font-size: 24px;
  font-weight: 600;
  color: #181a1f;
  font-family: "Poppins", sans-serif !important;
}
.route-content {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.services-section {
  padding: 90px 0 120px;
  background: #f4efef;
}
.carousel-city ul.react-multi-carousel-track {
  margin-left: -230px;
}
.policy-content h4 {
  color: #54595f;
  font-size: 27px !important;
  margin-bottom: 30px;
  font-weight: bold !important;
}
.policy-content p {
  padding-left: 20px;
}
.policy-content li,
.policy-content p {
  color: #535353;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}
.policy-content .content-list {
  color: #2b2b2b;
}
ul.list-number {
  margin-bottom: 30px;
}
.section-policy {
  background-color: #f4efef;
  padding-top: 80px;
}
ul.list-number > li {
  list-style: auto;
}
.page-header {
  padding: 5px 0;
}

/* fleet view page css  */
.page-fleetview .page-header {
  box-shadow: 0 0 100px 10px #0000001f;
}
.discover-feet {
  padding: 30px 0px;
}
.filter-heading p {
  display: flex;
  justify-content: space-between;
}
.checkbox-box label {
  display: flex;
  align-items: center;
  margin-bottom: 12px; /* Adjust margin as needed */
  font-size: 14px;
  font-weight: 500 !important;
}

.checkbox-box label input[type="checkbox"] {
  margin-right: 5px; /* Adjust space between checkbox and label */
  height: 16px; /* Set custom height */
  width: 20px; /* Set custom width */
}
.filter-section .card {
  border: unset;
  box-shadow: 0 0 40px 2px #00000014;
  border-radius: 20px;
}
.filter-heading p span a {
  text-decoration: unset;
  font-size: 16px;
}
.page-fleetview .discover-feet .title-bar h4 {
  font-size: 20px !important;
}
.page-fleetview .discover-feet .title-bar h1 {
  font-size: 70px !important;
}
.form-section-fleetview .form-section {
  margin-top: 0;
  padding: 40px 0;
}
.page-contact-us {
  background-color: #f4efef;
}
.contact-section h4,
.contact-choice-section h4 {
  color: #6f6f6f;
  font-size: 34px !important;
}
.contact-section h2,
.contact-choice-section h2 {
  color: #ee333a;
  font-size: 77.8px !important;
  text-transform: uppercase;
  font-weight: 500 !important;
  line-height: 80px !important;
}
.contact-choice-section h2 span {
  color: #070707;
}
.contact-info-detail h5 {
  font-size: 30px;
  font-weight: bold;
  color: #070707;
  margin-bottom: 20px;
}
.contact-info-detail p {
  color: #2f2f2f;
  font-size: 20px;
  font-weight: bold;
}
.contact-info-detail button {
  border-radius: 30px;
  padding: 16px 0;
  width: 170px;
  margin-top: 20px;
}
.contact-info .col-contact-1 {
  padding: 50px 45px;
  border: 1px solid #9d0208;
  background: #fff;
  border-radius: 10px 0px 0px 10px;
}
.contact-info .col-contact-2 {
  padding: 50px 45px;
  border: 1px solid #9d0208;
  background: #fff;
  /* border-radius: 10px 0px 0px 10px; */
}
.contact-info .col-contact-3 {
  padding: 50px 45px;
  border: 1px solid #9d0208;
  background: #fff;
  border-radius: 0px 10px 10px 0px;
}
.contact-info-detail ul li a {
  color: #2f2f2f;
  font-weight: 800;
  font-family: "Poppins";
}
.contact-info-detail ul {
  padding: 0;
}
.contact-info-detail ul li {
  list-style: none;
  font-size: 20px;
}
.img-div {
  min-height: 100px;
}
.img-div:hover img {
  transform: rotateY(25deg);
}
.img-div img {
  transition: 0.8s;
}
.contact-section.text-center {
  padding: 80px 0 40px;
}

.contact-choice-section p {
  font-size: 24px;
  color: #2c2c2c;
  font-weight: 500;
  /* padding: 0px 100px; */
  line-height: 44px;
  font-family: "Poppins";
}
.contact-choice-section p a {
  color: #1d4734;
  text-decoration: none;
}
.contact-choice-section {
  padding: 30px 0 30px;
}
.form-contact-section label {
  font-size: 18px;
  color: #0a271a !important;
}
.form-contact-section input {
  background: #f9fbfd !important;
  border: 1px solid #ccc !important;
  padding-left: 20px;
  margin-bottom: 20px;
}
.form-contact-section .btn-contact-info {
  border-radius: 30px !important;
  padding: 16px 55px;
  margin-top: 20px;
}
.form-contact-section {
  background: #fff;
  padding: 50px 40px;
  border: 17px solid #f6f6f6;
  border-radius: 12px;
}
.form-contact-section hr {
  width: 80%;
  color: #988787;
  margin: 30px 10% 30px 10%;
}
.about-us-content .heading2 {
  background: #262e34;
  padding: 0px 160px 70px;
  font-size: 60px !important;
}

.about-us-content .heading1 {
  background: #bc0003;
  padding: 70px 80px 0px;
  font-size: 60px !important;
}
.custom-form.container {
  margin-top: -80px;
}
.about-us-content h2 {
  margin: 0;
  font-weight: 500 !important;
}
.about-section {
  padding: 30px;
}
.service-about-content h2 span {
  color: #181918;
}
.service-about-content h2 {
  color: #ee333a;
}
.service-about-get button {
  border-radius: 30px;
  padding: 11px 35px;
  margin-top: 260px !important;
}
.service-about-content p {
  font-weight: 500;
  padding-right: 30px;
  margin-top: 30px;
}
.service-about-get .servc-row1 {
  padding-bottom: 140px;
  padding-top: 140px;
}
.service-about-get .servc-row2 {
  padding-bottom: 140px;
}
.about-group-service {
  background: #f4efef;
}

.feature-text h2 span {
  color: #fff;
}
.feature-text h2 {
  color: #c71917;
  margin-bottom: 70px;
}
.unique-feature-section {
  background-image: url("../img/unique-feature.png");
  background-size: cover;
  padding: 80px 0 0px;
}
.about-count {
  align-items: flex-end;
  margin-bottom: 120px;
  position: relative;
}
.about-count:before {
  background-image: url("../img/vector-about.png");
  width: 275px;
  height: 183px;
  content: "";
  position: absolute;
  right: 70px;
  top: 20px;
  transform: scale(0.85);
}
.last-count-class h4 {
  line-height: 30px;
}

.about-subtext {
  color: #fff;
  padding: 0 110px 0 20px;
}

.about-subtext h4 {
  margin-bottom: 0;
  line-height: 37px;
}

.small-tags {
  margin-bottom: 20px;
}

.small-tags span.tag-btn {
  background-image: linear-gradient(to right, #9d0208 51%, #d00000 100%);
  color: #fff;
  padding: 4px 28px;
  border-radius: 8px;
  font-size: 14px;
  text-transform: capitalize;
  box-shadow: 1px 4px 5px 0px #0000002e;
}
.car-name-data p {
  margin-bottom: 0;
}
.car-data h6 {
  font-size: 20px;
  font-weight: 700;
}
.car-data p {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.car-price {
  float: right;
}

p.price {
  font-size: 20px;
  font-weight: 600;
}

p.price span {
  font-size: 14px !important;
}

.car-price p.total-text {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.image-product img {
  width: 100%;
  /* height: 260px; */
}

.car-specification ul li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.car-specification ul {
  padding-left: 0;
}

.car-specification ul li img {
  margin-right: 6px;
  background-color: #fff;
  padding: 5px 5px;
  border-radius: 8px;
}
.car-img:hover img {
  filter: brightness(0.8);
}
.car-img img {
  transition: 0.8s;
}
.car-select-btn button {
  width: 48%;
  padding: 8px 30px;
  margin: 0 4px;
  border: unset;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  background-color: #ecf0f4;
}
button.choose-btn {
  background-image: linear-gradient(to right, #9d0208 51%, #d00000 100%);
  color: #fff;
}
.car-product .card {
  border: unset;
  box-shadow: 0 0 13px 3px #0000000f;
  border-radius: 2px;
  transition: 0.3s;
}
.car-product .card:hover {
  background-color: #ee333a;
}
.car-product .card:hover span.tag-btn {
  background-image: unset;
  background-color: #fff;
  color: #000;
}
.car-product .card:hover .car-name-data {
  color: #fff;
}
.car-product .card:hover .car-specification ul li {
  color: #fff;
}
.car-product .card:hover .car-data p {
  color: #fff;
}
.car-product .card:hover .car-price p.total-text {
  color: #fff;
}
.faqs-section {
  margin: 40px 0 20px 0;
}
.faqs-heading h3 {
  font-size: 45px;
}
.faqs-section button.accordion-button {
  padding: 0 0px;
  background-color: unset;
  line-height: 50px;
}
.contact-section.row {
  border: 10px solid #f0f0f0;
  margin: 0 100px;
  padding: 30px 25px;
  background-color: #fff;
}
button:focus:not(:focus-visible) {
  box-shadow: unset;
  /* border-bottom: 1px solid; */
}
.contact-section .contact-choice-section label.form-label {
  color: #1f1f1f;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.contact-section .contact-choice-section input.form-control::placeholder {
  color: #1f1f1f85;
  font-size: 14px;
  font-weight: 400 !important;
}
.contact-choice-section input.form-control::placeholder {
  color: #1f1f1f85;
  font-size: 14px;
  font-weight: 400 !important;
}
.contact-section .contact-choice-section textarea.form-control::placeholder {
  color: #1f1f1f85;
  font-size: 14px;
  font-weight: 400 !important;
}
.contact-section .contact-choice-section input.form-control {
  padding: 0 20px;
  background-color: transparent !important;
  border: 1px solid #e1e4e8 !important;
  height: 44px;
}
.contact-choice-section input.form-control {
  padding: 0 20px;
  background-color: transparent !important;
  border: 1px solid #e1e4e8 !important;
  height: 50px;
}
span.bold-color-change {
  color: #3f4458;
  font-weight: 700;
}
label.form-check-label {
  font-size: 13px;
  font-weight: 400 !important;
  color: #7d7d7d;
}
.form-check-input:checked[type="checkbox"] {
  --bs-form-check-bg-image: url("../img/tic-image.png") !important;
}
.lastImage img {
  width: 100%;
}
.righttext-left p {
  font-size: 16px;
  font-weight: 400 !important;
}
.coupon-field input.form-control {
  padding: 0 20px;
  background-color: transparent !important;
  border: 1px solid #e1e4e8 !important;
  height: 50px;
}
.coupon-field input.form-control::placeholder {
  color: #1f1f1f85;
  font-size: 14px;
  font-weight: 400 !important;
}
p.toyota-txt {
  margin-bottom: 5px;
  color: #0c142e;
  font-size: 17px;
}
p.toyota-txt-p {
  font-size: 13px;
}
p.toyota-txt-small {
  margin-bottom: 0;
  font-size: 12px;
}
.ads-image img {
  width: 100%;
}
.ads-text h5 {
  font-size: 32px;
  font-weight: 600;
}
p.toyota-price {
  font-size: 18px;
  margin-bottom: 0;
}
.righttext-right p {
  text-align: end;
  font-size: 16px;
  font-weight: 400 !important;
}
.contact-choice-section label.form-label {
  color: #322d3c;
  font-size: 14px;
}

.faqs-section .accordion {
  --bs-accordion-border-width: none;
}
.support-image img {
  width: 100%;
}
.paymentheading p {
  padding: 0px 0;
  font-size: 16px;
}
.contact-choice-section .btn-contact-info {
  padding: 12px 30px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 5px;
}
p.color-changetxt {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    90deg,
    #9d2b02 0%,
    rgba(238, 51, 58, 1) 100%
  ) !important;
  font-size: 16px;
  font-weight: 700;
}
p.simple-txt {
  color: gray;
  font-size: 14px;
  font-weight: 600;
}
.contact-section.row .col-md-4 {
  border-right: 3px solid #f6f6f6;
}
.support-text p {
  margin-bottom: 0;
}
.image-icon h3 {
  color: #011643;
  font-size: 30px;
  font-weight: 900;
  padding: 30px 6px;
}
.car-product .card:hover button.choose-btn {
  background-image: unset;
  color: #000;
  background-color: #fff;
}
.contact-form-bg {
  background-image: url("../img/feet-form-bg.png");
  background-size: cover;
  padding: 50px 0;
}
.faqs-section .accordion-body {
  padding: 20px 0;
}

/* CustomModal.css */

/* Style for the full-screen overlay */

/* Style for the popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  color: black;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%; /* Set maximum width for the modal */
  /* max-height: 80%; Set maximum height for the modal */
  overflow: auto;
  position: relative; /* Ensure relative positioning for absolute elements */
  height: 90%;
}
.image-modal img {
  width: 100%;
}
.modal-container .car-specification ul li {
  color: #000 !important;
  font-weight: 600 !important;
}
/* Customize scrollbar */
.modal-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
.modal-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
.modal-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners for the scrollbar handle */
}

/* Handle on hover */
.modal-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}
.modal-container .small-tags span.tag-btn {
  background-image: linear-gradient(
    to right,
    #9d0208 51%,
    #d00000 100%
  ) !important;
  color: #fff !important;
  padding: 4px 28px;
  border-radius: 8px;
  font-size: 14px;
  text-transform: capitalize;
  box-shadow: 1px 4px 5px 0px #0000002e;
}
.modal-container .car-data p {
  font-size: 14px;
  color: #000 !important;
  font-weight: 500;
}
.modal-container .car-price p.total-text {
  color: #000 !important;
}
.checkout-btn button {
  background: linear-gradient(90deg, #9d2b02 0%, rgba(238, 51, 58, 1) 100%);
  border-radius: 7px;
  color: #fff !important;
  border: unset;
  width: 100%;
  padding: 8px 0px;
}
/* Style for the close button */
span.close-button img {
  width: 22px;
}
p.pick-date {
  color: #0c142e;
  font-size: 14px;
  font-weight: 700;
}
.checkout-text {
  text-align: right;
}
p.date-txt {
  color: #0c142e;
  font-size: 15px;
  font-weight: 700;
}
p.custom-txt {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  margin-bottom: 10px;
}
p.price-txt {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.price-includes p {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}
p.txt-para {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}
.price-includes p img {
  float: right;
  width: 20px;
}
.close-button {
  position: absolute;
  top: 24px;
  right: 0px;
  cursor: pointer;
  left: 40px;
  z-index: 999;
  width: 22px;
}
.section-bussiness {
  background-color: #f4efef;
  padding: 80px 0;
  margin-top: -30px;
}
.inner-visit h2 {
  color: #c71917;
  margin-bottom: 30px;
}
.inner-visit h2 span {
  color: #000;
}
.section-visit {
  background-color: #f4efef;
  padding-top: 50px;
}
.msg-contct h4 {
  font-size: 28px !important;
  color: #aaaaaa;
  font-weight: 300 !important;
}
.msg-contct p {
  font-size: 24px !important;
  color: #c71917;
}
.inner-contact-long {
  color: #fff;
}
.inner-contact-long ul {
  padding-left: 0;
  display: flex;
  list-style: none;
  align-items: center;
  margin: 50px 0;
}
.msg-contct {
  padding-left: 30px;
}
.section-contact-long {
  background-image: url("../img//contactus.png");
  background-size: cover;
  padding: 100px 0;
}
.business-mn-img img {
  transition: 0.8s;
}
.business-mn-img:hover img {
  filter: brightness(0.8);
  transform: rotateY(15deg);
}
.search-content h4 {
  font-size: 42px !important;
  font-weight: 500 !important;
  color: #000;
  padding-left: 110px;
  margin-bottom: 40px;
}
.search-content-info p {
  color: #112211;
  font-size: 16px;
  font-weight: 700;
}
.search-content-info small {
  font-size: 12px;
}
.search-content-info {
  align-items: center;
}
.search-img {
  margin-right: 13px;
}
.search-content {
  padding: 0 70px;
}
.search-section {
  padding: 50px 0;
  background-color: #f4efef;
}
.travel-heading h2 {
  color: #c71917;
}
.travel-heading h2 span {
  color: #000;
}
.travel-heading p {
  font-size: 24px;
  color: #000;
  padding-right: 80px;
}
.travel-content {
  display: flex;
  align-items: center;
}
.travel-btn button {
  color: #112211 !important;
  font-size: 14px;
  width: 80px;
  border: 1px solid #ccc !important;
}
.travel-img:hover img {
  transition: 0.8s;
  filter: brightness(0.7);
}
.travel-img {
  margin: 20px 0;
}
.travel-hover-heading h4 {
  font-size: 40px !important;
}
.travel-hover-heading {
  background: #c71917;
  padding: 20px 20px 70px;
  border-radius: 16px;
  margin-top: 20px;
}
.travel-hover-heading p {
  font-size: 14px;
  padding-top: 10px;
}
.travel-hover-heading button {
  color: #112211 !important;
  font-size: 14px;
  width: 100%;
  padding: 12px 0;
  margin-top: 150px;
}
.section-travel {
  padding: 50px 0 70px;
  background-color: #fff;
}
.content-content h2 {
  color: #c71917;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 68px !important;
}
.content-content h2 span {
  color: #000;
}
.content-content p {
  font-size: 22px;
  color: #515151;
  font-weight: 500;
}
.content-contact img {
  margin-top: -80px;
  margin-left: 10px;
  position: relative;
  transition: 0.8s;
}
.content-contact:hover img {
  filter: brightness(0.9);
}
.contn-mn-img img {
  transition: 0.8s;
}
.contn-mn-img:hover img {
  filter: brightness(0.8);
  transform: rotateY(15deg);
}
.content-section {
  background: #f4efef;
  padding: 50px 0;
}
.page-discover {
  background: #f4efef;
}
.btn-lease-discover button {
  padding: 10px 40px;
}
.btn-lease-discover {
  margin-top: 30px;
  margin-bottom: 30px;
}
.accordion-item {
  background: unset !important;
}
.inner-contact-long ul li:hover img {
  transition: 0.8s;
  transform: rotateY(25deg);
}
.support-image:hover img {
  transition: 0.8s;
  transform: rotateY(25deg);
}
ul.social-menu li,
ul.social-menu li a {
  transition: 0.8s;
}
ul.social-menu li:hover,
ul.social-menu li:hover a {
  color: #ac0105;
}

/* checkout page css  */
.checkout-text-heading.mb-4 h3 {
  font-size: 32px;
  font-weight: 700;
}
span.procinig-txt {
  color: #1d4734;
}
.page-Checkout {
  background-color: #dee2e640;
}
.form-data-section h5.address-txt {
  font-size: 24px;
  font-weight: 600;
}
.form-data-section p {
  font-size: 14px;
}
.servicesPoint-text {
  padding: 60px 20px;
}

.servicesPoint-text ul li {
  list-style: none;
}

.servicesPoint-text ul li p {
  margin-top: 0 !important;
}

.servicesPoint-text ul li p img {
  padding-right: 20px;
}
.check-payment {
  position: relative;
  padding: 20px 20px;
  border: 1px solid #e4e7ec;
  margin-bottom: 20px;
  border-radius: 8px;
}

.check-payment label input[type="checkbox"] {
  position: absolute;
  left: 20px;
  top: 3px;
}
.payment-data label.form-label {
  font-size: 12px;
  font-weight: 300 !important;
}
.image-section span img {
  float: inline-end;
  margin: 0 6px;
}
.payment-data input.form-control {
  padding: 0 12px;
  height: 38px;
  background-color: #fff !important;
}
/* .text-lock p img {
  padding-right: 10px;
} */

.text-lock p {
  font-size: 12px;
  line-height: 22px;
  color: #828282;
}
.refundabletext {
  background-color: #f4f4f9;
  padding: 20px 20px;
  border-radius: 8px;
}
.refundabletext p {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 5px;
  color: #666666;
}
.refundabletext p b {
  font-size: 16px;
  line-height: 0px;
}
.check-payment label {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 500 !important;
}
.payment-data .form-group label.form-label {
  padding: 0;
}
.check-payment p {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 22px;
  color: #667085;
}
.airportPick-section {
  background-image: url("../img/airport-01.png");
  background-size: cover;
}

.airportPick-section {
  padding: 329px 0px 19px 0px;
}

.airportDrop-section {
  padding: 329px 0px 19px 0px;
}
.airportText {
  text-align: center;
}
.airportText h3 {
  font-size: 40px;
  color: #fff;
  font-weight: 500;
}
.confirm-section {
  background-image: linear-gradient(90deg, #9d0208 0%, #d00000 100%) !important;
  margin: 0 80px;
  padding: 60px 50px;
  border-radius: 20px;
}
.airportText p {
  font-size: 16px;
  color: #fff;
}
.confirm-text h3 {
  font-size: 45px;
  color: #fff;
}
.processd-btn button {
  background-color: #ed780d;
  border: 2px solid #fff;
  font-size: 16px;
  color: #fff;
  padding: 8px 20px;
  border-radius: 12px;
}
.airportDrop-section {
  background-image: url("../img/airport-02.png");
  background-size: cover;
}
.processd-btn {
  position: relative;
}
span.arrow-image {
  background-image: url("../img/arrow-curve.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 180px;
  height: 180px;
  left: -170px;
  top: -80px;
}
.extra-btn button img {
  padding-right: 10px;
  padding-top: 0px;
}
.extra-btn button {
  background-image: linear-gradient(90deg, #9d0208 0%, #d00000 100%) !important;
  border: unset;
  padding: 8px 14px;
  border-radius: 5px;
  font-size: 14px;
}

body,
hmtl {
  overflow-x: hidden;
}
/* Media Query Start*/
@media (max-width: 1600px) {
  .car-sc:before {
    right: 40px;
    transform: scale(1.3);
  }
}
@media (max-width: 1440px) {
}
@media (max-width: 1366px) {
  .customer-content {
    padding: 70px 600px 70px 180px;
  }
  .howit-count {
    padding: 35px 40px 20px 30px;
  }
  .car-sc:before {
    right: 8px;
    transform: scale(1.1);
    top: 45px;
  }
  .img-how-it-work img {
    height: 306px;
  }
  .car-subtext h5 {
    font-size: 20px;
  }
  .car-subtext p {
    font-size: 14px;
    line-height: 18px;
    margin-top: -20px;
  }
  .car-subtext {
    padding: 0px 5px 0px 12px;
    margin-top: 60px;
  }
}
@media (max-width: 1280px) {
  .page-home .title-bar {
    padding: 238px 0px !important;
  }
  .page-home .title-bar h1 {
    font-size: 100px !important;
  }
  .page-home .title-bar h4 {
    font-size: 22px !important;
  }
  h2 {
    font-size: 61px !important;
    line-height: 61px !important;
  }
  .discover-section {
    margin: 70px 0 110px;
  }
  .car-background {
    padding: 220px 0px 130px 0;
  }
  .text-discover {
    font-size: 16px;
  }
  .service-content h3 {
    font-size: 45px !important;
    line-height: 48px;
  }
  .service-content button {
    padding: 13px 24px;
  }
  .service-content ul li {
    font-size: 18px;
    line-height: 24px;
  }
  .customer-content {
    padding: 40px 600px 40px 180px;
  }
  .test-content p {
    font-size: 14px;
  }
  .heading-test {
    font-size: 43px !important;
    line-height: 48px;
  }
  h4 {
    font-size: 22px !important;
    line-height: 24px;
  }
  .testimonials-client p {
    font-size: 15px;
    line-height: 24px;
  }
  .client-view p {
    font-size: 16px;
    line-height: 16px;
  }
  .client-view span {
    font-size: 13px;
  }
  .inner-section-premium h3 {
    font-size: 52px;
  }
  .inner-section-premium p {
    font-size: 20px;
  }
  .inner-section-premium button {
    font-size: 13px;
  }
  .footer-one-text p,
  .footer-three-text p,
  .footer-two-menu li {
    font-size: 13px;
  }
  .footer-one-text p {
    margin-top: 20px;
    padding-right: 90px;
  }
  .footer-two-menu li {
    padding: 8px 0;
  }
  .customer-text h3 {
    font-size: 27px !important;
  }
  .customer-text p {
    font-size: 19px;
  }
  .customer-content .customer-text:before {
    transform: scale(0.8);
  }
  .customer-content .customer-text:nth-child(1):before {
    top: -18px;
  }
  .customer-content .customer-text:nth-child(2):before {
    top: -24px;
  }
  .customer-content .customer-text:nth-child(3):before {
    top: -17px;
  }
  .customer-content .customer-text:nth-child(4):before {
    top: -1px;
  }
  .route-content h5 {
    font-size: 21px;
  }
  .route-content p {
    font-size: 14px;
  }
  .img-how-it-work img {
    height: 303px;
    object-fit: cover;
  }
  .footer-submit {
    height: 48px;
    font-size: 15px !important;
  }
}
@media (max-width: 1024px) {
  .car-subtext p {
    font-size: 11px;
    line-height: 16px;
    margin-top: -23px;
  }
  .car-sc:before {
    right: -11px;
    transform: scale(0.95);
    top: 18px;
  }
  .car-subtext {
    padding: 0px 2px 0px 10px;
    margin-top: 30px;
  }
  .car-subtext h5 {
    font-size: 18px;
  }
  .customer-content {
    padding: 20px 460px 10px 170px;
  }
  .heading-test {
    font-size: 36px !important;
    line-height: 42px;
  }
  .inner-section-premium {
    padding: 73px 40px;
  }
  .inner-section-premium h3 {
    font-size: 50px;
  }
  .test-content h4 {
    font-size: 23px !important;
  }
  .service-content h3 {
    font-size: 36px !important;
    line-height: 41px;
  }
  .service-content h5 {
    font-size: 17px;
    line-height: 25px;
  }
  .service-content ul li {
    font-size: 15px;
    line-height: 24px;
  }
  .service-content p {
    font-size: 13px;
    line-height: 21px;
  }
  .services-section {
    padding: 60px 0 90px;
  }
  .page-home .title-bar {
    padding: 188px 0px !important;
  }
  h2 {
    font-size: 54px !important;
    line-height: 54px !important;
  }
  .discover-section {
    margin: 50px 0 80px;
  }
  .img-how-it-work img {
    height: 305px;
  }
  .footer-one-text p {
    padding-right: 10px;
  }
  .heading-city {
    line-height: 67px !important;
  }
  .page-home .title-bar h1 {
    font-size: 92px !important;
  }
  .page-home .title-bar h4 {
    font-size: 19px !important;
  }
  .title-bar h1 span:before {
    transform: scale(0.7);
    right: -120px;
  }
  label,
  input {
    font-size: 14px;
  }
  select.form-select,
  input {
    font-size: 14px !important;
    height: 50px;
  }
  button.btn-formPanel {
    font-size: 14px !important;
    height: 50px;
  }
  .btn-lease {
    font-size: 14px !important;
    padding: 11px 26px !important;
  }
}
@media (max-width: 800px) {
  .nav-link {
    font-size: 12px !important;
    padding: 7px 12px !important;
  }
  .page-home .title-bar h1 {
    font-size: 76px !important;
  }
  .page-home .title-bar h4 {
    font-size: 15px !important;
  }
  .title-bar h1 span:before {
    transform: scale(0.6);
    right: -140px;
  }
  .page-home .title-bar {
    padding: 138px 0px !important;
  }
  .img-how-it-work:before {
    display: none;
  }
  h2 {
    font-size: 46px !important;
    line-height: 46px !important;
  }
  .text-discover {
    font-size: 13px;
  }
  .discover-section {
    margin: 40px 0 50px;
  }
  .car-count-heading {
    font-size: 41px;
  }
  .car-subtext h5 {
    min-height: auto;
  }
  .car-subtext p {
    margin-top: 0;
  }
  .car-sc:before {
    display: none;
  }
  .car-subtext {
    padding: 0px 20px 0px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .car-background {
    padding: 150px 0px 50px 0;
  }
  .howitworks-section {
    padding: 50px 0px 50px;
  }
  .howit-row1 .howit-count:before {
    display: none;
  }
  .img-how-it-work {
    margin-bottom: 20px;
  }
  .howit-row2 .howit-count:before {
    display: none;
  }
  .heading-city {
    line-height: 52px !important;
  }
  .main-city-section {
    padding: 50px 0 50px;
  }
  .service-content h3 {
    font-size: 27px !important;
    line-height: 26px;
  }
  .service-content h5 {
    font-size: 13px;
    line-height: 19px;
  }
  .service-content ul li {
    font-size: 12px;
    line-height: 17px;
  }
  .service-content p {
    font-size: 11px;
    line-height: 18px;
  }
  .service-content button {
    padding: 9px 17px;
    font-size: 12px;
  }
  .services-section {
    padding: 50px 0 50px;
  }
  .customer-content {
    padding: 20px 0px 50px 80px;
  }
  .customer-text h3 {
    font-size: 22px !important;
  }
  .customer-text p {
    font-size: 13px;
  }
  .customer-content .customer-text:before {
    transform: scale(0.7);
  }
  .customer-content .customer-text:nth-child(1):before {
    top: -24px;
  }
  .customer-content .customer-text:nth-child(2):before {
    top: -33px;
  }
  .customer-content .customer-text:nth-child(3):before {
    top: -22px;
  }
  .customer-content .customer-text:nth-child(4):before {
    top: -20px;
  }
  .heading-test {
    font-size: 27px !important;
    line-height: 33px;
  }
  .test-content h4 {
    font-size: 17px !important;
  }
  .test-content p {
    font-size: 13px;
    padding: 0 10px;
  }
  .testimonial-section {
    padding-top: 60px;
  }
  .card-client {
    margin: 70px 15px 50px;
  }
  .testimonials-client p {
    font-size: 12px;
    line-height: 21px;
  }
  .mt-4.howit-row2 {
    margin-top: 0 !important;
  }
  .inner-section-premium h3 {
    font-size: 37px;
  }
  .inner-section-premium p {
    font-size: 15px;
  }
  .inner-section-premium button {
    padding: 8px 16px;
    font-size: 12px;
  }
  .footer-one-text p,
  .footer-three-text p,
  .footer-two-menu li {
    font-size: 11px;
  }
  .footer-two-menu li {
    padding: 6px 0;
  }
  .footer-submit {
    height: 41px;
    font-size: 13px !important;
  }
  .page-footer {
    padding: 40px 0px;
  }
  .inner-section-premium {
    padding: 51px 40px;
  }
  .img-glry {
    padding: 10px 160px;
  }
  .dim-btn .btn {
    padding: 10px 32px;
    font-size: 12px;
  }
  .howit-titlebar {
    margin-bottom: 40px;
  }
  .img-glry:hover:before {
    right: 160px;
    bottom: 10px;
  }
  .img-glry.mb-4,
  .img-glry.mt-4 {
    margin: 0 !important;
  }
  .how-col1,
  .how-col2,
  .how-col3,
  .how-col4 {
    margin-bottom: 0px;
  }
  .how-col1 {
    order: 1;
  }

  .how-col2 {
    order: 2;
  }

  .how-col6 {
    order: 4;
  }

  .how-col5 {
    order: 3;
  }

  .how-col3 {
    order: 5;
  }

  .how-col4 {
    order: 6;
  }

  .how-col8 {
    order: 8;
  }

  .how-col7 {
    order: 7;
  }
  .footer-copyright {
    padding: 13px;
  }
  .footer-copyright p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
  .page-home .title-bar h1 {
    font-size: 52px !important;
  }
  .page-home .title-bar {
    padding: 100px 0px !important;
  }
  .page-home .title-bar h4 {
    font-size: 10px !important;
  }
  .title-bar h1 span:before {
    transform: scale(0.4);
    right: -170px;
  }
  .form-section {
    padding: 20px 20px 20px 20px;
  }
  button.btn-formPanel {
    margin-top: 14px;
    width: 50%;
  }
  h2 {
    font-size: 36px !important;
    line-height: 36px !important;
  }
  .text-discover {
    font-size: 12px;
    padding: 0 30px;
  }
  .car-background {
    margin-top: -50px;
    padding: 90px 0px 50px 0;
  }
  .howit-count {
    margin-bottom: 10px;
  }
  .how-col1 {
    order: 1;
  }

  .how-col2 {
    order: 2;
  }

  .how-col6 {
    order: 3;
  }

  .how-col5 {
    order: 4;
  }

  .how-col3 {
    order: 5;
  }

  .how-col4 {
    order: 6;
  }

  .how-col8 {
    order: 7;
  }

  .how-col7 {
    order: 8;
  }
  .main-city-section {
    padding: 30px 0 30px;
  }
  .heading-city {
    line-height: 42px !important;
  }
  .carousel-city ul.react-multi-carousel-track {
    margin-left: 15px;
  }
  .customer-content {
    padding: 20px 0px 40px 110px;
  }
  .gallery-section {
    padding: 30px 0 15px;
  }
  .inner-section-premium h3 {
    font-size: 24px;
  }
  .inner-section-premium p {
    font-size: 11px;
  }
  .inner-section-premium {
    padding: 23px 40px;
    border-radius: 16px;
  }
  .inner-section-premium button {
    padding: 8px 16px;
    font-size: 10px;
  }
  .img-glry:hover:before {
    right: 60px;
  }
  .img-glry {
    padding: 10px 60px;
  }
  .test-content p {
    padding: 0 0px;
  }
  .howitworks-section {
    padding: 40px 0px 20px;
  }
  .footer-one,
  .footer-two {
    margin-bottom: 30px;
  }
  .navbar-collapse > ul {
    width: 100%;
    justify-content: center !important;
  }
}
@media (max-width: 414px) {
}
@media (max-width: 375px) {
}

/* Media Query End */
