body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
}
h4, h1, h2{
  font-family: 'Lexend', sans-serif !important;
}
h3{
  font-family: 'Chivo', sans-serif !important;
  font-size: 55px;
}

h5, label, input{
  font-family: 'Poppins', sans-serif !important;
}
label, input {
  font-family: 'Poppins', sans-serif !important;
  color: #343434;
  font-size: 16px;
  font-weight: 600 !important;
}
input::placeholder{
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px;
  font-weight: 500 !important;
}

h2{
  font-size: 71px !important;
  line-height: 71px !important;
  font-weight: 600 !important;
}

h4{
  font-size: 26px !important;
  letter-spacing: 1px !important;
  font-weight: 500 !important;
}

h1{
  font-size: 120px !important;
  font-weight: 600 !important;
}
