body {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
}
h4,
h1,
h2 {
  font-family: "Lexend", sans-serif !important;
}
h3 {
  font-family: "Chivo", sans-serif !important;
  font-size: 55px;
}

h5,
label,
input {
  font-family: "Poppins", sans-serif !important;
}
label,
input {
  font-family: "Poppins", sans-serif !important;
  color: #343434;
  font-size: 16px;
  font-weight: 600 !important;
}
input::placeholder {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 500 !important;
}

h2 {
  font-size: 71px !important;
  line-height: 71px !important;
  font-weight: 600 !important;
}

h4 {
  font-size: 26px !important;
  letter-spacing: 1px !important;
  font-weight: 500 !important;
}

h1 {
  font-size: 120px !important;
  font-weight: 600 !important;
}

.search-content h4 {
  font-size: 42px !important;
  font-weight: 500 !important;
  color: #000;
  padding-left: 110px;
  margin-bottom: 40px;
}
.search-content-info p {
  color: #112211;
  font-size: 16px;
  font-weight: 700;
}
.search-content-info small {
  font-size: 12px;
}
.search-content-info {
  align-items: center;
}
.search-img {
  margin-right: 13px;
}
.search-content {
  padding: 0 70px;
}
.search-section {
  padding: 50px 0;
  background-color: #f4efef;
}
.travel-heading h2 {
  color: #c71917;
}
.travel-heading h2 span {
  color: #000;
}
.travel-heading p {
  font-size: 24px;
  color: #000;
  padding-right: 80px;
}
.travel-content {
  display: flex;
  align-items: center;
}
.travel-btn button {
  color: #112211 !important;
  font-size: 14px;
  width: 80px;
  border: 1px solid #ccc !important;
}
.travel-img:hover img {
  transition: 0.8s;
  filter: brightness(0.7);
}
.travel-img {
  margin: 20px 0;
}
.travel-hover-heading h4 {
  font-size: 40px !important;
}
.travel-hover-heading {
  background: #c71917;
  padding: 20px 20px 70px;
  border-radius: 16px;
  margin-top: 20px;
}
.travel-hover-heading p {
  font-size: 14px;
  padding-top: 10px;
}
.travel-hover-heading button {
  color: #112211 !important;
  font-size: 14px;
  width: 100%;
  padding: 12px 0;
  margin-top: 150px;
}
.section-travel {
  padding: 50px 0 70px;
  background-color: #Fff;
}
.content-content h2 {
  color: #c71917;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 68px !important;
}
.content-content h2 span {
  color: #000;
}
.content-content p {
  font-size: 22px;
  color: #515151;
  font-weight: 500;
}
.content-contact img {
  margin-top: -80px;
  margin-left: 10px;
}
.content-section {
  background: #f4efef;
  padding: 50px 0;
}
.page-discover {
  background: #f4efef;
}
.btn-lease-discover button {
  padding: 10px 40px;
}
.btn-lease-discover {
  margin-top: 30px;
  margin-bottom: 30px;
}
.accordion-item {
  background: unset;
}